* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}   

body {
    background-color: #ffffff; 
}

#layout {
    width: 80%;
    margin-top: 5%;
    margin-left: 7%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 40px;
    padding: 20px;
}

.ejercicio {
    padding: 20px;
    border: 1px solid #cccccc; 
    border-radius: 8px;
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.ejercicio:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.ejercicio input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #f7df1e;
    color: black;
    border: none;
    padding: 2% 4%;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 30%;
    width: 40%;
    margin-top: 4%;
}

button[type="submit"]:hover {
    background-color: #e6cd1a;
}

input {
    margin-top: 3%;
    border-radius: 8px;
    border: 1px solid #757575; 
}
